USE [master]
GO
/****** Object:  Database [Problem1Db]    Script Date: 24-03-2020 18:42:55 ******/
CREATE DATABASE [Problem1Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Problem1Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Problem1Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Problem1Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Problem1Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Problem1Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Problem1Db]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24-03-2020 18:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[MobileNumber] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[DOB] [varchar](50) NOT NULL,
	[Gender] [varchar](6) NOT NULL,
	[Address] [varchar](max) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
